* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-color: rgb(102, 95, 95);
}
h1 {
  text-align: center;
  margin-top: 40px;
}
h2 {
  text-align: center;
  border-bottom:4px solid rgb(10, 10, 10);
 
}

.main{
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin:20px 40px;
   

}




.frontend,
.backend,
.digitalmarket,
.quicksupport,
.webdesign,
.webdevelopment {
  background-color: rgb(184, 174, 174);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(49, 49, 49);
  border-radius:20px;
  margin:10px;
  padding: 50px 10px;
}
.fas {
  font-size: 80px;
 
 
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  padding: 30px;
  color: white;
  background: rgb(12, 78, 152);
  background: linear-gradient(
    90deg,
    rgba(12, 78, 152, 1) 0%,
    rgba(9, 54, 140, 1) 31%,
    rgba(32, 61, 204, 1) 66%,
    rgba(67, 87, 230, 1) 100%
  );
}
p {
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
}

.frontend:hover .fas,
.backend:hover .fas,
.digitalmarket:hover .fas,
.quicksupport:hover .fas,
.webdesign:hover .fas,
.webdevelopment:hover .fas {
  background-color: white;
  transition: 1s;
}

.frontend:hover,
.backend:hover,
.digitalmarket:hover,
.quicksupport:hover,
.webdesign:hover,
.webdevelopment:hover {
  color: blue;
  background-color: white;
  transition: 1s;
}

@media screen and (max-width: 768px) {

    .fas{
        font-size:40px;
       
    }
}


@media screen and (max-width: 600px){
.main{
    display:block;
}

    .fas{
        font-size:80px;
       
    }

}